:root {
    --main-color: #DAD3BE;
}
.navbar{
    background-color: #77998ab0;
}
.navbar .btn{
    background-color: #E9E0C8;
    color: #254336;
    font-weight: bold;
}
.navbar .btn.hover{
    background-color: #E9E0C8;
    color: #254336;
    font-weight: bold;
}

.navbar .navbarNav .navItem{
    margin-top: 18px;
    margin-right: 18px; 
}
.navbar .navbarNav .logo{
    margin-top: 3px;
  
}
.navbar .navLink{
    font-weight: bold;
    color: #254336;
}
.navbarNav .navLink.active {
    color: var(--main-color);
}

.navLink:focus, .navLink:hover {
    color: var(--main-color);
}