footer {
    background-color: #557768b0;
    padding-top: 35px;
    padding-bottom: 30px;
  }
  footer p{
    font-weight: 500;
    font-size: 16px;
    color: #DAD3BE;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }