.header{
    background-image: url(../img/HomeBg2.png);
    background-position-y:-51px ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}
 .header_Design{
    background-color:#dad3be79;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
 }